@model WMS.Web.Models.LoginViewModel

@{ 
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - WMS</title>
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="wms, advantech">
    <meta name="author" content="advantech web team">

    @Styles.Render("~/bundles/style/core")
    @Styles.Render("~/bundles/style/global")
    <link href="~/wwwroot/lib/metronic/theme/assets/pages/css/login-3.min.css" rel="stylesheet" />
</head>
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <h3 class="caption-subject font-green-sharp sbold">Advantech WMS</h3>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="@Url.Action("Login", "Account", new { ViewBag.ReturnUrl })" method="post">
            @Html.AntiForgeryToken()
            
            <h3 class="form-title">Login to your account</h3>
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input type="checkbox" name="remember" />Remember me
                </label>
                <button type="submit" class="btn green pull-right">Login</button>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
 
    <!--[if lt IE 9]>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/respond.min.js"></script>
    <script src="~/wwwroot/lib/metronic/theme/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/script/core")
    @Scripts.Render("~/bundles/script/plugins")
    @Scripts.Render("~/bundles/script/global")
    <script src="~/wwwroot/lib/metronic/theme/assets/pages/scripts/login.js"></script>
</body>
</html>